@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #F3F3F3;
  --title: #525259;
}


body {
  font-family: 'Dancing Script', cursive;
  background-color: var(--background);
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
  height: 100vh;
}

.testimonials__title {
  position: relative;
  text-align: center;
  padding-top: 4rem;
  color: var(--title);
  font-size: 3rem;
  width: 100%;
}

.testimonials__title::before {
  content: '';
  height: 2px;
  width: 40%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: #94959B;
  position: absolute;
  bottom: 4.5rem;
}